node_modules
.tmp
.sass-cache
.idea
*.iml
target/
target/**
bower_components
.settings
.project
.classpath
bin/
build/
.gradle/4.3.1/taskHistory
.gradle/buildOutputCleanup/cache.properties
.gradle/**/*.lock
.gradle/**/*.bin
